[Unit]
Description=Web Container
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run -d --rm -p 80:80 --name %n nginx

[Install)
WantedBy=multi-user.target